.charts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  height: 800px;
  width: 800px;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: orange;
}
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: yellow;
}
.topLeft {
  border-style: solid;
  border-color: black;
  background: #f2d492;
  border-radius: 5px;
}
.topRight {
  border-style: solid;
  border-color: black;
  background: #f2d492;
  border-radius: 5px;
}
