.sideBar-container {
  background: #202c39;
  left: 0;
  top: 0;
  height: 100%;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  font-size: 25px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 20px;
  color: #f2d492;
  font-size: 35px;
}
.logo-icon {
  margin-left: 10px;
}
.list-container {
  color: #f29559;
}
.list-container > li {
  list-style: none;
  margin-top: 20px;
  border-bottom: 1px solid white;
}
.list-container > li > i {
  margin: 10px;
}
.list-icons {
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: #f29559;
}
