.tickets-container {
  background: white;
  border-color: #283845;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.ticketTable {
  border-spacing: 0;
  border-collapse: collapse;
}
.headers > th {
  font-size: 18px;
  width: 150px;
  background: #f2d492;
  border-bottom: 1px solid black;
}
.severityCol {
  color: white;
}
.ticket-info > td {
  font-size: 15px;
  text-align: center;
  max-width: 100px;
  height: 40px;
  overflow-x: hidden;
  border-left: 1.5px solid grey;
  border-bottom: 1px solid black;
}
